body {
    background: #2F5860;;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

img {
    width: 200px;
    height: auto;
    margin: 20px;
}

h2 {
    color: black;
    font-weight: 100;
    text-align: center;
    margin-top: 40px;
}

input, button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.main-div, .loggedin-div{
    background: white;
    width: 40%;
    height: 50%;
    margin: 30px auto 0px;
    padding: 40px;
    display: none;
    border-radius: 50px;
}

.main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 60%;
    margin: 0 auto 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div input:focus {
    border: 1px solid #777;
}

.main-div button, .loggedin-div button {
    background: #3D85C6;
    color: #fff;
    border: 1px solid #3D85C6;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 60%;
    margin: 0 auto 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

#createAccount {
    background: #6AA84E;
    border: 1px solid #6AA84E;
}

.main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: #3D85C6;
    border: 1px solid #3D85C6;
    cursor: pointer;
}

#createAccount:hover {
    background: #fff;
    color: #6AA84E;
    border: 1px solid #6AA84E;
    cursor: pointer;
}