body {
    background: #2F5860;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.logo {
    width: 200px;
    height: auto;
    margin: 20px;
}

#user-rooms {
    height: 150px;
    overflow-y:auto;
    margin-bottom: 30px;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}